<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Smoker Bank" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# PWA用 manifest %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <!-- ファビコン設定 -->
    <link rel="icon" type="image/png" href="<%= asset_path('favicon.png') %>">
    <link rel="apple-touch-icon" href="<%= asset_path('favicon.png') %>">
    <link rel="shortcut icon" href="<%= asset_path('favicon.png') %>">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-gray-50 min-h-screen flex flex-col">
    <%= render "layouts/header" %>

    <main class="flex-grow">
      <%= yield %>
    </main>

    <%= render "layouts/footer" %>
  </body>
</html>
